<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link data-turbolinks-track ="true" href="/css/style.css" media="all">
  <link data-turbolinks-track = "true" href="/assets/application.css" media="all">
  <link data-turbolinks-track = "true" href="/assets/kube.css" media="all">
  <link data-turbolink-track = "true" href="/assets/bootstrap.css" media="all">
  <%= stylesheet_link_tag    "application", :media => "all",
  								"data-turbolink-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "sample app", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", '#' %></li>
					<li><%= link_to "Help", '#' %></li>
					<li><%= link_to "Sign in", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
	</header>
	<div class="container">
<%= yield %>
</div>
</body>
</html>
